{% extends 'base.html.twig' %}

{% block title %}Up'n'Com : Nos Services{% endblock %}

{% block body %}
<section class="hero">
    <div class="hero-content">
        <video autoplay muted loop>
            {# <source src="{{ asset('videos/herovideo.mp4') }}" type="video/mp4" /> #}
        </video>
    </div>
</section>
<div>
    <div class="container">
    <h1>Nos Services</h1>
        <div class="service-card-wrapper">
            {% for service in services %}
                <twig:ServiceCard service="{{ service }}" page="service-index" class="{{ cycle(['', 'alt'], loop.index0) }}"></twig:ServiceCard>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}