:root {
    /*Couleurs*/
    --violet: oklch(from #982873 l c h);
    --orange: oklch(from #FFA825 l c h);
    --bleu: oklch(from #46A2AC l c h);
    --bleuFonC: oklch(from #003F5D l c h);
    --noir: oklch(from #020202 l c h);
    --gris: oklch(from #F1E9EE l c h);
    --blanc: oklch(from #EEEEEE l c h);
    --grisAlpha: oklch(from #5c5c5c41 l c h);
    --contour: var(--grisAlpha);
    --bg-gradient: linear-gradient(135deg in oklch, var(--blanc));
    /*Couleurs choisies*/
    --color-bg-primary: var(--gris);
    /* couleur BG*/
    --color-text-primary: var(--noir);
    /* couleur TXT*/
    --color-accent: var(--orange);
    /*couleur Accent*/
    /*Dimensions*/
    --menuHeight: 3rem;
    --radius: calc(var(--menuHeight) /2);
    /*font size*/
    --fs-nm: 1rem;
    --fs-lg: calc(1.2*var(--fs-nm));
    --fs-xl: calc(1.5*var(--fs-nm));
    --fs-xxl: calc(2*var(--fs-nm));
    --fs-sm: calc(0.8*var(--fs-nm));
    /*fonts*/
    --font-heading: "Cabin", sans-serif;
    --font-txt: "Nunito Sans", sans-serif;
    --font-logo: "Road Rage", sans-serif;

    /*scroll behavior*/
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--noir);
    font-size: var(--fs-nm);
}

.inactive {
    display: none !important;
}

body {
    font-family: var(--font-sans);
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
    line-height: 1.6;
    overflow-x: hidden;
}
/* Conteneur principal pour centrer le contenu */
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px; /* Espace sur les côtés */
}

.frostedGlass {
    background-color: var(--grisAlpha);
    backdrop-filter: blur(7px);
    border: 2px outset oklch(from var(--gris) l c h / 0.2);
}

/* typo-----------------------*/

*:is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-heading);
    font-weight: 400;
    /* Souvent plus léger dans le luxe */
    text-transform: uppercase;
}

h1 {
    font-size: var(--fs-xxl);
    line-height: 1.1;
    margin-block: 0.5em;
}

h2 {
    font-size: var(--fs-lg);
    margin-bottom: 1.5rem;
    letter-spacing: 0.1em;
}

p {
    margin-bottom: 1.25rem;
}

a {
    color: var(--color-text-primary);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--color-accent);
    /* Effet discret au survol */
}

/*Header----------------------------------------------------------------------------------------------------------------------------------*/
/*navigation----------------------------------------------------------------------------------------------------------------------------------*/

.header {
    position: fixed;
    /* Fixé en haut */
    top: 0;
    left: 0;
    width: 100%;
    height: var(--menuHeight);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none !important;
    border-bottom: 2px solid oklch(from var(--gris) l c h / 0.3) !important;
}

#burgerQuizz {
    display: none;
}

.logo {
    background: linear-gradient(var(--orange)) center;
    position: relative;
    top: 0.0rem;
    left: 1rem;
    font-size: 3rem;
    font-family: var(--font-logo);
    letter-spacing: -0.02em;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 2em;
    position: relative;
}

.socials {
    display: flex;
    flex-direction: row;
    position: relative;
    top: calc(var(--menuHeight)/-5);
    left: 0;

    a {
        background-color: transparent;
        color: var(--noir);
        padding: 2px;

        .socialsIcon {
            height: var(--fs-xl);
            color: var(--noir);
        }
    }

    svg {
        margin: .20rem;
    }

    svg:hover {
        filter: invert(63%) sepia(70%) saturate(537%) hue-rotate(347deg) brightness(101%) contrast(101%);

    }
}

/*HERO-----------------------------------*/

.hero {
    display: block;
    position: relative;
}

.hero-content {
    video {
        display: flow-root;
        width: stretch;
    }
}

/*main-------------------------------------------------------*/



/*footer--------------------------------------------------------------------------------------------------------------------------------------*/

.footer {
    background-color: var(--color-bg-primary);
    padding: 80px 0;
    color: var(--color-text-primary);
    text-align: center;
    font-size: 0.9rem;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

/*home----------------------------------------------------------------------------------------------------------------------------------------*/
#sections_Navbar {
    margin-inline: auto;
    position: sticky;
    top: var(--menuHeight);
    border-inline: none !important;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    li {
        list-style-type: none;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -0.2lh;
            left: 0;
            width: 0;
            height: 3px;
            background-color: var(--noir);
            transition: width 0.35s ease-in;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }

        &:has(.select) {
            &::after {
                content: '';
                width: 100%;
                background-color: var(--bleu);
            }
        }

        &:not(:has(.select)) {
            &::after {
                content: '';
                width: 0%;
                background-color: var(--noir);
            }
        }
    }

    .select li {
        background-color: red;

        &::after {
            width: 100%;
        }
    }
}

.section {
    padding: 120px 0;
    /* Grande hauteur pour l'espace blanc */
    border-bottom: 1px solid #ff0000;
    /* Séparateur léger */
}

.section:last-child {
    border-bottom: none;
}

.section-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* Exemple d'une grille (Titre à gauche, Contenu à droite) */
    gap: 80px;
}

.section-title {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--color-accent);
}

.section-with-image {
    padding: 100px 0; /* Ajuster le padding si nécessaire */
    background-color: var(--color-bg-primary); /* S'assurer du fond blanc */
}

.flex-row-reverse .content-wrapper{
    flex-direction: row-reverse !important;
}
.section-with-image .content-wrapper {
    display: flex;
    
    align-items: center; /* Centrer verticalement le contenu et l'image */
    gap: 80px; /* Espacement entre les colonnes */
}

.section-with-image .text-column {
    flex: 1; /* Prend une part de l'espace disponible */
    padding-right: 40px; /* Espacement interne pour le texte */
}

.section-with-image .image-column {
    flex: 1; /* Prend une part de l'espace disponible, de taille égale à la colonne de texte */
    height: 55vh; /* Hauteur minimale pour que l'image soit visible */
    overflow: hidden; /* Important pour l'effet de parallaxe */
}

.parallax-image {
    width: 100%;
    height: 100%; 
    background-size: cover;
    background-position: center center; /* Définition initiale du centre */
    
    /* MODIFICATION CLÉ : Retirer 'fixed' pour laisser le JS gérer la position */
    background-attachment: scroll; 
    
    background-repeat: no-repeat;
    
    /* Optionnel : transition pour un effet plus fluide si les calculs JS sont trop rapides */
   /* transition: background-position-y 0.1s linear; */
}


.home_spacer {
    border-block: 3px solid var(--noir);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-block: var(--fs-xl);
}

.home_contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    * {
        display: flex;
        flex-direction: column;
        text-justify: center;
    }
}


/*services------------------------------------------------------------------------------------------------------------------------------------*/
#servicesContainer {
    margin-inline: clamp(var(--fs-xxl), 10vw, 300px);
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.services__card {
    transition: transform 0.2s ease-out;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.services__svg {
    width: 300px;
    aspect-ratio: 1;
    background-color: var(--gris);
    border-radius: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "serviceStack";
    place-items: center;
    box-shadow: 5px 5px 5px var(--noir);
    transition: transform 0.3s ease-out;

    &:hover {
        transform: scale(1.05) translateY(-3px);
    }
}

.services__icon {
    grid-area: serviceStack;
    max-width: 70%;
    object-fit: cover;

    filter: invert(63%) sepia(70%) saturate(537%) hue-rotate(247deg) brightness(55%) contrast(101%);
    transition: transform 0.2s ease-out;

    &:focus-hover {
        filter: invert(63%) sepia(70%) saturate(537%) hue-rotate(347deg) brightness(101%) contrast(101%);
        transform: scale(1.1) translateY(-10px);
    }

}

.services__title {
    text-justify: center;
}

.services__content {
    grid-column: 2/3;
}

@keyframes sliding {
    0% {
        height: 800%;
    }

    100% {
        height: 100%;
    }

}

/*articles-------------------------------------------------------------------------------------------------------------------------------------*/
.mainContainer {
    position: relative;
    display: grid;
    grid-template-areas:
        "h1"
        "search"
        "article";
    grid-template-columns: 1fr;
    gap: 1em;

    h1 {
        grid-area: h1;

        text-align: center;
        margin: 1em;
    }

    aside {
        grid-area: search;
    }
}

aside {
    background-color: var(--grisAlpha);
    max-width: 800px;
    margin: auto;
    padding: 1em;
    border-radius: var(--radius);
}

.pagination {
    display: flex;
    flex-direction: row;

    &:first-of-type(span) {
        background-color: var(--orange);
        border: 2px black solid;
    }

    &:last-child {
        background-color: var(--orange);
        border: 2px black solid;
    }
}

.search {
    * {
        display: inline;
        font-size: var(--fs-lg);
    }

    input {
        border-radius: 1lh 0 0 1lh / 1lh 0 0 1lh;
        padding: 0.5rem;
    }

    button:not(.tagButton) {
        border-radius: 0 1lh 1lh 0 / 0 1lh 1lh 0;
        padding: 0.5rem;
        background-color: var(--orange);
    }

    span {
        padding: 0.5rem;
    }
}

#articleContainer {
    grid-area: article;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    gap: 1rem;
}

.articleCard {
    width: clamp(400px, 25dvw, 600px);
    border: 3px var(--grisAlpha) outset;
    border-radius: var(--radius);
    background-color: var(--grisAlpha);
    backdrop-filter: blur(10px);
    overflow: clip;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    place-content: center;
    grid-template-areas:
        "meinheader"
        "article__body";
}

.article__header {
    grid-area: meinheader;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-content: center;
    background-color: var(--grisAlpha);
}

.article__headerBg {
    grid-area: 1/1;
    z-index: 0;
    aspect-ratio: 1;
    background: var(--bgImg) center no-repeat;
    /* linear-gradient(var(--noir), transparent, var(--violet)); */
    background-size: 100% 100%;
    filter: blur(15px) brightness(55%);
    clip-path: inset(0);
}

.article__headerImg {
    grid-area: 1/1;
    z-index: 1;
    border-radius: 1em;
    aspect-ratio: auto, 16/9;
    max-width: 90%;
    max-height: 90%;
    align-self: center;
    justify-self: center;
}

.miniIMG {
    height: 2lh;
    width: auto;

}

.miniMIC {
    margin-right: 2em;
    transform: scaleX(-1);
}

.article__headerBandeau {
    grid-area: 1/1;
    z-index: 2;
    background-color: var(--grisAlpha);
    width: 100%;
    align-self: end;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    border-top: 0.2rem solid var(--violet);
    border-bottom: 0.2rem solid var(--violet);
    gap: 1em;
    align-items: center;
    height: 3lh;
}

.article__headerTitre {
    text-shadow: 0 0 6px var(--noir);
    font-size: var(--fs-xl);
    text-align: center;
}

.article__cta>* {
    display: block;
    width: 60%;
    background-color: var(--orange);
    color: var(--noir);
    font-size: var(--fs-xl);
    padding-block: calc(var(--fs-xl)/2);
    border-radius: var(--fs-xl);
    margin: auto;
}


.article__body {
    display: block;
    flex-direction: column;
    background-color: var(--grisAlpha);

    .article__resume {
        display: flex;
    }

    .article__resume {
        position: relative;
        padding-inline: 1.2rem;
        font-size: var(--fs-nm);
        text-align: justify;
        overflow: hidden;
        height: 3lh;

        &::after {
            content: '...';
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 2;
            padding-right: 1.2em;
        }
    }

    cite {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        &>* {
            display: block;
            font-size: var(--fs-sm);
        }

        span {
            font-weight: 400;
            font-style: normal;
        }
    }

}

/*tags-----------------------------------*/

.tagButton {
    border-radius: var(--fs-nm);
    padding: calc(var(--fs-nm)/2);
    margin: calc(var(--fs-nm)/8);
    border: solid var(--noir) 3px;
    background-color: var(--orange);
    font-size: var(--fs-nm);
    color: var(--noir);
}

/*search-----------------------------------*/
.nuageTag {
    display: flex;
    flex-wrap: wrap;
    place-items: center;
}

#search_q,
#search_submit {
    color: var(--noir);
}



/*contact----------------------------------*/

.contactContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.contactForm {
    width: 30%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    line-height: 150%;

    button {
        color: var(--noir);
    }
}

.contactMap {
    width: 30%;
    overflow: scroll;

    iframe {
        border-radius: 1em;
        box-shadow: 3px 3px 3px black;
    }
}

.contactCoordonnees {
    width: 30%;
}

/*-----RESPONSIVE------*/
@media only screen and (max-width : 1000px) {


    #toggleMenu {

        transition: transform 1.5s ease;
        position: static;
        top: 0;
        left: 0;
        width: 100svw;
        background: inherit;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100svw;
            border-radius: 0;

            li>a {
                display: block;
                width: 100svw;
                text-align: center;
            }

        }

        .socials {
            position: static;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    /*-----MENU BURGER-----*/
    .burgerSign {
        position: fixed;
        display: block;

        z-index: 15;
        background-color: #ffffff55;
        border: outset 2px #ffffff55;
        backdrop-filter: blur(10px);

        height: 2em;
        width: 2em;
        top: calc(var(--menuHeight)/2 - 1em);
        right: calc(var(--menuHeight)/2 - 1em);
        border-radius: .4em;
        box-shadow: 2px 2px 2px black;
    }

    .burgerLine {
        background-color: var(--gris);
        z-index: 16;
        margin: 11% auto;
        width: 90%;
        border: .2em solid var(--noir);
        border-radius: 1em;
    }

    #burgerQuizz {
        opacity: 0;
        cursor: pointer;
    }



    #burgerQuizz:checked~header {
        --menuPosition: 100svh;
    }

    #burgerQuizz:checked~.burgerSign .burgerLine:nth-child(1) {
        border-color: var(--violet);
        transform-origin: center;
        transform: translate(0, .6em) rotate(45deg);
    }

    #burgerQuizz:checked~.burgerSign .burgerLine:nth-child(2) {
        opacity: 0;
    }

    #burgerQuizz:checked~.burgerSign .burgerLine:nth-child(3) {
        border-color: var(--violet);
        transform-origin: center;
        transform: translate(0em, -.6em)rotate(-45deg);
    }
}


@media (max-width: 768px) {
    /* ... (conserver les règles existantes) ... */

    .section-with-image .content-wrapper {
        flex-direction: column; /* Les colonnes s'empilent sur mobile */
        gap: 40px;
    }

    .section-with-image .text-column {
        padding-right: 0; /* Pas de padding droit sur mobile */
    }

    .section-with-image .image-column {
        height: 55vh; /* Hauteur réduite pour l'image sur mobile */
        width: 100%; /* L'image prend toute la largeur */
    }

    /* Ajustement pour le parallaxe sur mobile si nécessaire */
    /* background-attachment: fixed peut poser des problèmes de performance sur mobile. */
    /* Une option est de le désactiver ou d'utiliser une solution JS légère pour mobile */
    .parallax-image {
        background-attachment: scroll; /* Désactiver le parallaxe sur mobile pour meilleure performance */
    }
    .container {
        padding: 0 20px;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    .header {
        padding: 15px 20px;
    }

    .section {
        padding: 80px 0;
    }

    .section-grid {
        grid-template-columns: 1fr; /* Passage à une seule colonne */
        gap: 40px;
    }
}