<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    {% block title %}
            Up'n'Com
    {% endblock name %}
</title>
    <style>
        * {
            color: black;
            background-color: white;
        }
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        svg {
            fill: #003F5D;
        }
    </style>
</head>

<body>
    <div class="logo">
        <svg title="{{image.altText}}" class="{{class}}" role="img">
            <use href="{{ asset('assets/icons/upncom.svg')}}"></use>
        </svg>
    </div>
    {% block body %}
        

    <h1>Up'n'Com - erreur lié à notre service de mail automatique</h1>

    <p>Merci de prendre contact avec nous par mail en répondant directement à cet email.</p>

    {% endblock name %}

</body>

</html>