{% apply inline_css %}
    <style>
        * {
            color: black;
            background-color: white;
            font-family: sans-serif;
        }

        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        h1 {
            color: #003F5D;
            font-weight: bold;
        }
    </style>

    <img src"{{ email.image('@icons/mail_upncom.png') }}" alt="logo d'Up'n'Com" />
    <h1>Up'n'Com</h1>
    <br>
    {% block body %}

    <h2>erreur lié à notre service de mail automatique</h2>
    <p>Merci de prendre contact avec nous par mail en nous ecrivant à <a href="mailto:contact@upncom.fr">contact@upncom.fr</a> .</p>

    {% endblock %}

{% endapply %}