<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Up'n'Com - La NewsLetter</title>
    <style>
        * {
            color: black;
            background-color: antiquewhite;
        }
    </style>
</head>

<body>
    <h1>Up'n'Com - La NewsLetter</h1>

    Ceci est la premiere newsletter <br>
    watataï
    {{subscriber.email}}<br>
    {{newsletter.contenu}}<br>
</body>

</html>