<div class="home_spacer">
    <div class="home_contact">
        <div>
            <span class="upncom_top">Up'n'Com</span>
        </div>
        <div>
            services
            machin
            truc
        </div>
        <div>
            CONTACT
            adresse
        </div>
    </div>
</div>