<div{{ attributes }} class="service-card">
    <div class="service-card-title">
        <h3>{{ service.titre }}</h3>
    </div>
    <div class="service-card-body">
        <twig:ImagesComponent image='{{service.image}}' class="service-card-image"></twig:ImagesComponent>
    </div>
</div>
