{% extends 'base.html.twig' %}



{% block title %}Up'n'Com : Le Blog{% endblock %}

{% block body %}
    <div class="heroImg">
        <img src="{{ asset('img/blog.jpg') }}" >
    </div>

    <div class="mainContainer">
        <h1>Up'n'Com : le Blog</h1>
            {# <twig:SearchComponent/> #}
    </div>
{% endblock %}