{% extends 'base.html.twig' %}



{% block title %}Up'n'Com : Le Blog{% endblock %}

{% block body %}
    <div class="heroImg">
        <img src="{{ asset('img/blog.jpg') }}" >
    </div>
    <h1>Up'n'Com : le Blog</h1>
    <div class="container">

            <twig:SearchComponent/>
        </div>
    </div>

{% endblock %}