{% extends 'base.html.twig' %}

{% block title %}Hello RealisationController!{% endblock %}

{% block body %}

<h1>Nos Réalisations</h1>
<div class="example-wrapper">

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/laragon/www/Thierry_GRELL/upncom/src/Controller/RealisationController.php</code></li>
        <li>Your template at <code>C:/laragon/www/Thierry_GRELL/upncom/templates/realisation/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
